body {
	font-family: Roboto, sans-serif;
	display: block;
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;

}
.container-fluid {
	padding: 0;
}
.navbar-dark .navbar-brand {
	color: #000;
}
.navbar-dark .navbar-brand:hover {
	color: #000;
}
.navbar {
	height: 100px;
	background: #5023CE;
	padding: 0;
	box-shadow: 0 10px 15px 3px #dedede;
	margin-bottom: 150px;
}
.navbar-brand {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 13px 0;
	background: #fff;
	border-right: 2px solid #FCDE06;
	text-decoration: none;
	margin-right: 0;
}
.navbar-brand__logo {
	margin: 0 25px;
}
.navbar-brand__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	margin-right: 11px;
	margin-bottom: 0;
}
.navbar-dark .navbar-nav .nav-link {
	color: #fff;

}
.navbar-collapse{
	background-color: #5023CE;
}
.nav-item {
	margin-right: 22px;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	margin-left: 0;
}
.servitem__box-shadow {
	transition: .3s;
}
.servitem {
	display: flex;
	justify-content: center;
	margin-bottom: 32px;
}
.servitem__wrap {
	line-height: 23px;
	text-decoration: none;
	color: #000;
	width: 188px;
	height: 181px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.servitem__wrap:hover {
	text-decoration: none;
	color: #000;
	box-shadow: 0 0 6px 1px #dedede;
}
.services {
	margin-top: 50px;
	margin-bottom: 74px;
}
.feedback {
	margin-bottom: 175px;
}
.feedback_title {
	font-weight: 500;
	font-size: 48px;
	line-height: 43px;
	letter-spacing: 1.6px;
}
.feedback_paragraph {
	font-weight: normal;
	font-size: 16px;
	line-height: 23px;

	letter-spacing: 0.5px;
}
.form-group {
	width: 395px;
	height: 44px;

}
.form-control {
	width: 100%;
	height: 100%;
	padding: 6px 20px;
}
.form {
	border: 1px solid #3172FD;
	border-radius: 2rem;
}
button[type="submit"] {
	border-radius: 2rem;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0.5px;
}
.form-check-label {
	font-size: 14px;
}
.modal-button {
	/*color: #007bff;*/
	border: none;
	border-radius: 2rem;
	background-color: #fff;
	font-family: LucidaGrande sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	padding: 5px 25px;
	text-align: center;
	color: #2800B7;
}
h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 64px;

}
.map-margin-bottom {
	margin-bottom: 30px;

}
.img-map {
	margin: 0;
}
.read-more__arrow {
	margin-top: 1px;
	margin-left: 10px;
}
.read-more {
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	letter-spacing: 0.0571429px;
	color: #7857b5;
}
.read-more:hover {
	color: #5023CE;
	text-decoration: none;
}
.experience-map {
	padding: 0;
	margin-bottom: 110px;
}
footer {
	background: linear-gradient(90deg, #3229b2, #519bfa);
}
.adress {
	font-size: 16px;
	line-height: 24px;
	color: white;
	letter-spacing: -0.43px;
}
.email {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: -0.6px;
	padding-right: 5px;
	color: white;
}
.footer-links {
	text-decoration: none;
	color: #bdc9f2;
	font-size: 16px;
	line-height: 23px;
}
.footer-links:hover {
	text-decoration: none;
	color: white;
}

.footer__title-style {
	color: white;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: -0.8px;
}
.footer__list-style {
	font-weight: normal;
	font-size: 16px;
	line-height: 23px;
	letter-spacing: -0.53px;
}
.icon-social-media {
	opacity: 1;
}
.icon-social-media:hover {
	opacity: 0.6;
}
.contacts__number-style {
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 0.66px;
	color: #FFFFFF;
}